[ req ]
prompt                  = no
dir						= ./ca
default_bits		    = 4096
default_keyfile 	    = $dir/rootCA-key.pem
default_md              = sha512
encrypt_key             = no
distinguished_name	    = req_distinguished_name
x509_extensions	        = v3_ca
string_mask             = utf8only
utf8                    = yes

[ req_distinguished_name ]
C                       = {FR}
ST                      = {ACME STATE}
L                       = {ACME CITY}
O                       = {ACME}
CN                      = {ACME} CA

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical,CA:true
