[ req ]
prompt                  = no
default_bits		    = 4096
default_keyfile 	    = {acme.domain}-key.pem
default_md              = sha512
encrypt_key             = no
distinguished_name	    = req_distinguished_name
req_extensions 			= v3_req
string_mask             = utf8only
utf8                    = yes

[ req_distinguished_name ]
C                       = {FR}
ST                      = {ACME STATE}
L                       = {ACME CITY}
O                       = {ACME}
CN                      = *.{acme.domain}

[ v3_req ]
basicConstraints        = CA:FALSE
nsCertType              = server
extendedKeyUsage        = serverAuth
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName          = @alt_names

[alt_names]
DNS.1                   = {acme.domain}
DNS.2                   = *.{acme.domain}
DNS.3                   = localhost
IP.1                    = 0.0.0.0
IP.2                    = 127.0.0.1
#IP.3                    = {192.168.x.x}
